.banner-text {
    position: absolute;
    height: 100vh;
    width: 100%;
    color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
    line-height: 55px;
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
}
.carousel-btn{
    width: 100%;
    margin-top: 5px;
}

.contact-btn{
    border-radius: 50px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 0 32px;
    line-height: 46px;
    transition: 300ms all ease;
}
.contact-btn:hover{
    color: #fff;
    background: #27d8d5;
}

.custom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.year{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #6c6c6c;
    margin-top: 10px;
}

.type-page{
    margin-top: 10px;
}

.svg-u{
    width: 60%;
}

.svg-w{
    width: 90%;
}

.btn-wpp, .btn-up{
    width: 50px;
    text-align: center;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
}


.btn-wpp{
    line-height: 25px;
    background: #25d366;
    right: 20px;
}

.btn-up{
    background: #27d8d5;
    line-height: 15px;
    right: 100px;
    display: none;
}

.ancla{
    display: none;
}

.svg-about{
    margin-bottom: 10px;
}