.banner-text {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,.7);
}

.carousel-item{
    max-height: 100vh;
}

.carousel-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
    line-height: 55px;
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}
.carousel-btn{
    width: 100%;
    margin-top: 5px;
}

.contact-btn{
    border-radius: 50px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 32px;
    line-height: 46px;
    transition: 300ms all ease;
    background: rgba(0,0,0,.2);
    transform: translateY(40%);
    text-transform: uppercase;
}
.contact-btn:hover{
    color: #fff;
    background: #27d8d5;
}

.custom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.year{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #6c6c6c;
    margin-top: 10px;
}

.type-page{
    margin-top: 10px;
}

.svg-u{
    width: 60%;
}

.svg-w{
    width: 90%;
}

.btn-wpp, .btn-up{
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
}


.btn-wpp{
    height: 60px;
    width: 60px;
    line-height: 30px;
    background: #25d366;
    right: 20px;
}

.btn-up{
    height: 50px;
    background: #27d8d5;
    width: 50px;
    line-height: 15px;
    right: 100px;
    display: none;
}

.svg-about{
    margin-bottom: 10px;
}

.title-techs{
    text-align: center;
    margin: 40px 0;
}
.client-logo-2 img{
    height: 150px;
}

.col-lg-3:focus{
    outline: none;
}

.ancla-top{
    position: absolute;
    top: 0;
    opacity: 0;
}

.services-area{
    background: #eee;
}

.contact-area{
    background: #fff;
}

.contact-area .container {
    display: flex;
}

.title-contact{
    text-align: center;
    font-size: 3rem;
}

.contact-area .single-contact-box{
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.icon-contact{
    width: 60px;
}

.link-contact{
    color: #000;
    transition: 300ms all ease;
    font-size: 1.5rem;
}

.box-title{
    font-weight: bold;
}

.services-icon{
    text-align: center;
}

.single-services{
    min-height: 20rem;
}

.services-title{
    margin: 10px;
    color: #27d8d5;
    font-weight: bold;
}

.services-content{
    cursor: default;
}

.link-contact:hover{
    text-decoration: underline;
    color: #27d8d5;
}

.icon-cancelar{
    cursor: pointer;
    border: 1px solid cyan;
}

.icon-service{
    width: 60px;
}

.foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo .text{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #ccc;
}

.banner-text .text{
    margin: 2rem 0;
    width: 50%;
    transform: translateX(50%);
}

.carousel-sub-title{
    color: #f4f4f4;
    font-size: 9rem;
    font-weight: 600;
    margin: 20px 0;
}

.carousel-promo-title{
    font-weight: 600;
    color: #f4f4f4;
    font-size: 2rem;

}

.client-active div{
    pointer-events: none;
}

@media screen and (max-width: 1000px){
    .lni-arrow-right-circle, .lni-arrow-left-circle{
        display: none;
    }

    .contact-area .container {
        display: flex;
        flex-direction: column;
    }

    .carousel-sub-title{
        font-size: 6rem;
    }
}
@media screen and (max-width: 750px){
    .custom{
        flex-direction: column;
    }

    .custom p{
        margin-bottom: 50px;
    }

    .call-action-area{
        padding: 15px 0;
    }

    .contact-btn{
        transform:none;
    }
    .footer-logo .text{
        padding-bottom: 4rem;
    }

    .banner-text .text{
        width: 100%;
        transform: none;
        margin: 1rem 0;
    }
}